<div class="container py-5">
  <h2 class="text-primary text-center mb-4">About Me</h2>
  <p class="text-muted text-center w-75 mx-auto">
    I'm a passionate <strong>Fullstack Developer</strong> with experience in both front-end and back-end technologies. I love building interactive and efficient web applications.
  </p>
  <div class="text-center mt-4">
    <a href="https://drive.usercontent.google.com/u/0/uc?id=1bm9od577z1t24ts95rMPlBhm1bBOTTzN&export=download" download class="btn btn-lg btn-primary px-4 shadow">
      Download CV
    </a>
  </div>


</div>




