.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}


.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}


.project-description {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  font-size: 1rem;
  color: #666;
}


.project-card:hover .project-description {
  opacity: 1;
  height: auto;
  margin-top: 10px;
}
